/*=============================================================================================================================================================*/
/*========================================================================= FONT WEIGHT =========================================================================*/
/*=============================================================================================================================================================*/

.font-weight-bold {
    font-weight: bold;
}

/*=============================================================================================================================================================*/
/*========================================================================= OVERFLOW =========================================================================*/
/*=============================================================================================================================================================*/

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}