/*=============================================================================================================================================================*/
/*========================================================================= FONT SIZE =========================================================================*/
/*=============================================================================================================================================================*/

.font-size-20 {
 font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-38 {
    font-size: 38px;
}


/*=============================================================================================================================================================*/
/*========================================================================= FONT WEIGHT =========================================================================*/
/*=============================================================================================================================================================*/

.font-weight-400 {
    font-weight: 400;
}

.font-weight-bold {
    font-weight: bold;
}

/*=============================================================================================================================================================*/
/*========================================================================= MARGIN =========================================================================*/
/*=============================================================================================================================================================*/
.mt-8 {
    margin-top: 8px;
}

/*=============================================================================================================================================================*/
/*========================================================================= OVERFLOW =========================================================================*/
/*=============================================================================================================================================================*/

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}