/*=============================================================================================================================================================*/
/*========================================================================= FONT SIZE =========================================================================*/
/*=============================================================================================================================================================*/

.fs-18 {
    font-size: 18px;
}
.fs-16 {
    font-size: 16px;
}
/*=============================================================================================================================================================*/
/*========================================================================= FONT WEIGHT =========================================================================*/
/*=============================================================================================================================================================*/

/*=============================================================================================================================================================*/
/*========================================================================= MARGIN =========================================================================*/
/*=============================================================================================================================================================*/

.mt-48 {
    margin-top: 48px !important;
}

/*=============================================================================================================================================================*/
/*========================================================================= OVERFLOW =========================================================================*/
/*=============================================================================================================================================================*/

/*=============================================================================================================================================================*/
/*========================================================================= UTILITIES =========================================================================*/
/*=============================================================================================================================================================*/

.disabled-primary-button {
    pointer-events: none;
    cursor: auto;
    opacity: 0.5;
}
